@import url('https://fonts.googlepips.com/css2?family=Poppins&family=Ubuntu:wght@300;700&displayswap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #5b0e67;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: rgb(192, 180, 159);
    width: 25rem;
    border-radius: 30px;
    padding: 5em 2rem;
    box-shadow: 0px 0px 20px 0px;
    border: 2px solid blue;
}

.title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.userName, .userPassword{
    text-align: center;
    border: 2px solid rgb(30, 186, 206);
    margin: 1rem;
    color: rgb(20, 143, 143);
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    outline: none;
    transition: all 2s ease-in-out;
}

.btn{
    cursor: pointer;
    font-size: 20px;
    float: right;
    color:  #5b0e67 ;
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.userName:focus, .userPassword:focus{
    width: 20rem;
    animation-name: changeChange;
    animation-iteration-count: infinite;
}

@keyframes colorChange{
    0%{
        border-color: rgb(20, 134, 165);
        color: rgb(20, 134, 165);
    }
    10%{
        border-color:yellow;
        color: yellow;
    }

    20%{
        border-color: hotpink;
        color: hotpink;
    }

    30%{
        border-color: red;
        color: red;
    }

    40%{
        border-color: purple;
        color: purple;
    }
    50%{
        border-color: yellow;
        color: yellow;
    }
    60%{
        border-color: cyan;
        color: cyan;
    }
    70%{
        border-color: skyblue;
        color: skyblue;
    }
    80%{
        border-color: paleturquoise;
        color: paleturquoise;
    }
    90%{
        border-color: royalblue;
        color: royalblue;
    }
    100%{
        border-color:rgb(43, 103, 153);
        color: rgb(43, 103, 153);
    }
}